<!-- your html code here -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand" href="#">Start Booatrap</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <h2 class="nav-link active" aria-current="page" href="#">About</h2>
        </li>
        <li class="nav-item">
          <h2 class="nav-link" href="#">Service</h2>
        </li>
        <li class="nav-item">
          <h2 class="nav-link" href="#">Portafolio</h2>
        </li>
        <li class="nav-item">
          <h2 class="nav-link" href="#">Contact</h2>
        </li>
        
      </ul>
    </div>
  </div>
</nav>